[Unit]
Description=TelegramBot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/telegram_bot.py
StandardOutput=append:/var/log/telegram-bot.log
StandardError=append:/var/log/telegram-bot.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
